html {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.chef,
.waiter,
.clean {
    margin-left: 0%;
    text-align: center;
    align-items: center;
    background-color: #6FEDB7;
}

#equipe1,
#equipe2,
#equipe3 {
    background-color: #4EA699;
    display: none;
    padding: 6px;
}

button {
    background-color: #2DD881;
    border: none;
    color: white;
    width: 100%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#ignis {
    border-radius: 70%;
}

#heather {
    border-radius: 60%;
}

#kirby {
    border-radius: 70%;
}

#cal,
#handy,
#sophie {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    float: left;
}

#no {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    float: right;
}

p,
h1,
h2,
h3,
h4,
h5 {
    color: black;
}