* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerMenu {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
