h4 {
    font-size: 25px;
}

.App {
    background-color: rgb(32, 32, 32);
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.section1 {
    position: relative;
    width: 90%;
    height: 800px;
    background-color: rgb(42, 40, 40);
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 70px;
}

.title {
    font-size: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}

.textStar {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    border: 3px;
    width: 800px;
    height: 40px;
}

.img1 {
    position: relative;
    display: flex;
    left: 180px;
    color: aliceblue;
    background-image: url('../images/Prog.jpeg') no-repeat center;
    background-size: cover;
}

.starFather {
    top: 230px;
    position: relative;
    display: row;
}

.star1 {
    border: 2px solid rgb(46, 165, 35);
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.star2 {
    border: 2px solid rgb(221, 232, 13);
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.star3 {
    border: 2px solid rgb(233, 17, 17);
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}