@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
}

.App {
    background-color:rgb(32, 32, 32);
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.sectionApp {
    position: relative;
    width: 90%;
    height: 750px;
    background-color: rgb(42, 40, 40);
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 70px;
}

.countSovt {
    position: absolute;
    color: aliceblue;
    width: 300px;
    height: 79px;
    background-color: rgb(32, 32, 32);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#count {
    color: yellow;
}

.name {
    position: relative;
    font-size: 80px;
    left: 120px;
    top: 280px;
    color: rgb(251, 251, 251);
}

.description {
    position: relative;
    font-size: 25px;
    left: 115px;
    top: 290px;
    font-style: italic;
    color: rgb(157, 156, 152);
}


.logo { /*c*/
    width: 500px;
    bottom: 90px;
    position: relative;
    left: 750px;
    height: 650px;
    background: url('../images/logo_transparent.png') no-repeat center;
    background-size: cover;
}



@media (max-width: 600px) {

    .sectionApp {
        position: relative;
        width: 100%;
        height: 650px;
        background-color: rgb(42, 40, 40);
        top: 50px;
        left: 0px;
    }
    
    .name {
        position: relative;
        left: 50px;
        font-size: 40px;
        top: 20px;
        color: rgb(251, 251, 251);
    }

    .description {
        position: relative;
        font-size: 20px;
        left: 60px;
        top: 30px;
        color: rgb(157, 156, 152);
    }

    .logo {
        position: relative;
        left: 65px;
        top: 40px;
        width: 250px;
        height: 400px;
        background: url('../images/logo_transparent.png') no-repeat center;
        background-size: cover;
    }
}
