@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
}

.App {
    background-color: rgb(32, 32, 32);
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.section4 {
    position: relative;
    width: 90%;
    height: 400px;
    background-color: rgb(42, 40, 40);
    top: 50px;
    left: 70px;
}

.list {
    margin: 0 auto;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    padding-top: 100px;
}