@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
}

#fotter_text {
    padding: 30px;
    font-size: 40px;
    color: rgb(136, 136, 136);
}

.fotter {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60, 57, 57);
}

@media (max-width: 425px) {

    #fotter_text {
        font-size: 15px;
    }
}
