@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&family=Outfit:wght@400;700&display=swap');

.Header {
    background-color: rgb(60, 57, 57);
    font-family: 'Epilogue', sans-serif;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


a {
    text-decoration: none;
    color: rgb(172, 172, 172);
    padding: 20px;
    
}

a:hover {
    color: rgb(254, 255, 255);
    background-color:  rgb(60, 57, 57); 
}

@media (max-width: 600px) {
    .Header {
        font-size: 13px;
    }
}

@media (max-width: 360px) {
    .Header {
        font-size: 9px;
    }
}