@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
}


.SideBar {
    position: fixed;
    width: 60px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    z-index: 10000;
    top: 50px;
    left: 3px;
}

@media (max-width: 320px) {
    .SideBar {
        position: absolute;
        display: none;
        width: 1px;
    }
}