@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
}

h4 {
    font-size: 25px;
}

.App {
    background-color: rgb(32, 32, 32);
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.section1 {
    position: relative;
    width: 90%;
    height: 800px;
    background-color: rgb(42, 40, 40);
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 70px;
}

.title {
    height: auto;
    font-size: 39px;
    background-color: rgb(60, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(155, 152, 152);
    padding: 20px;
}

.textArea {
    position: relative;
    margin-top: 50px;

}

.textStar {
    top: 40px;
    margin-top: 120px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    border: 3px;
    width: 800px;
    height: 10px;
}


.starFather {
    top: 230px;
    position: relative;
    display: row;
}

#starArea {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 6px;
}

#starArea:hover {
    background-color: aliceblue;
    cursor: pointer;
}
