@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,500;1,700&family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Epilogue', sans-serif;
}

.App {
    background-color: rgb(32, 32, 32);
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sectionXp {
    position: relative;
    width: 90%;
    height: 800px;
    background-color: rgb(42, 40, 40);
    justify-content: center;
    align-items: center;
    left: 70px;
}

.xpC {
    justify-content: center;
    align-items: center;
    display: flex;
}

.xpT {
    position: relative;
    color: white;
    top: 350px;
    font-size: larger;
    width: 900px;
}

.title {
    height: auto;
    font-size: 25px;
    background-color: rgb(60, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(155, 152, 152);
    padding: 20px;
}